extends layout

block page 
  - var menu = 'index'
block content
  if (articles.length === 0)
    | There's no content yet. 
    a(href="/login") Log in
    |  to create your first post.
  else 
    each article, index in articles
      div
        h2 
          a(href="/articles/#{article.slug}")= article.title